body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#simple-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 225px;
  height: 225px;
  margin: 10px;
}

#card-img {
  display: flex;
  justify-content: center;
  align-content: stretch;
}
#card-img > img {
  height: 160px;
  width: 160px;
}

#simple-card-info {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

#simple-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.smallPic {
  height: 30px;
  width: 30px;
}

.singleProductPic {
  height: 30vw;
}

#searchBar {
  margin-top: -4vh;
  margin-left: 70vw;
}

#inventoryTab {
  margin-top: 4vh;
}

tr:hover { 
  background: #e5e5e5; 
}

.rowContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 0px;
  margin-left: 0px
}
#adminUpdateForm {
  margin-left: 0px;
}

#tinyBox {
  padding-left: 0px;
  margin-left: 0px
}

@media only screen and (max-width: 990px) {
  #searchBar {
    margin-top: 25vh;
    margin-left: 65vw;
  }
  .singleProductPic {
    margin-top: 5vh;
  }

  #inventoryTab {
    margin-top: 26vh;
  }
}

@media only screen and (max-width: 767px) {
  #searchBar {
    margin-top: 62vh;
    margin-left: 35vw;
  }
  .singleProductPic {
    margin-top: 35vh;
  }

  #inventoryTab {
    margin-top: 35vh;
  }
}