body {
  font-family: sans-serif;
  background-image: linear-gradient(to right, darkgray, lightgray)
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.simple-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 225px;
  height: 225px;
  margin: 10px;
}

#card-img {
  display: flex;
  justify-content: center;
  align-content: stretch;
}
#card-img > img {
  height: 160px;
  width: 160px;
}

#category-card-img > img {
  max-height: 300px;
  width: 100%;
}

.category-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

#simple-card-info {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

#simple-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.smallPic {
  height: 30px;
  width: 30px;
}

.singleProductPic {
  height: 30vw;
}

#searchBar {
  margin-top: -4vh;
  margin-left: 70vw;
}

#simple-card-name {
  font-size: 15px;
  margin: 0 auto;
}

@media only screen and (max-width: 990px) {
  #searchBar {
    margin-top: 25vh;
    margin-left: 65vw;
  }
  .singleProductPic {
    margin-top: 5vh;
  }
}

@media only screen and (max-width: 767px) {
  #searchBar {
    margin-top: 62vh;
    margin-left: 35vw;
  }
  .singleProductPic {
    margin-top: 35vh;
  }
}

#all-products-container {
  margin: 0 auto;
}
