#cart-container {
  margin: 8px;
}

#cart-content {
  display: flex;
  justify-content: space-evenly;
}

#cart-card {
  width: 500px;
}

#cart-card > div {
  display: flex;
}

#cart-img {
  width: 35%;
}

#cart-img > img {
  height: 100px;
  width: 133px;
}

#card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
}

#card-name-price {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

#card-qty-delete {
  display: flex;
  justify-content: space-between;
}

#card-qty-delete {
  align-items: center;
  height: 35px;
}

#order-card {
  width: 200px;
}

#card-qty-delete > div > span {
  width: 80%;
}

#card-update {
  color: #4cae4c;
  border-color: #4cae4c;
}

#order-details-sidebar-container {
  margin-top: 60px;
}
