#simple-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 225px;
  height: 225px;
  margin: 10px;
}

#card-img {
  display: flex;
  justify-content: center;
  align-content: stretch;
}
#card-img > img {
  height: 160px;
  width: 160px;
}

#simple-card-info {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

#simple-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
